<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
            <button type="button" id="gettoken">Get token</button>
            <button type="button" id="authorize">Authorize</button>
            <button type="button" id="ver">Verify</button>
            <button type="button" id="tst">SimpleTest</button>
        {% block content %}
            {% endblock %}
            <script>
                var token = ""; 
                $("#gettoken").click(function(e) {
                    e.preventDefault();
                    $.when($.ajax({
                        url: "api-token-auth/",
                        /*beforeSend: function(xhr) { 
                            xhr.setRequestHeader("Authorization", "Basic " + btoa("username:password")); 
                        },*/
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json',
                        processData: false,
                        data: '{"username":"o901mm@mail.ru","password":"password"}',
                        success: function (data) {
                            token = (JSON.stringify(data)).split("\"")[3];
                        },
                        error: function(){
                            console.log("Cannot get data");
                        }
                    })).done(function(){
                        console.log(token);
                    });
                });
                
                $("#authorize").click(function(e) {
                    //var auth = 'Authorization: JWT ' + token;
                    //console.log(auth);
                    e.preventDefault();
                    $.ajax({
                        url: "user-bonus-transactions/",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader ('Authorization','JWT '+token);
                        },
                        type: 'GET',
                        //data: {
                        //    'Authorization':'JWT '+token,
                        //},
                        success: function (data) {
                            console.log(data);
                        },
                        error: function(){
                            console.log("Cannot get data");
                        }
                    });
                });

                /*$("#ver").click(function(e) {
                    e.preventDefault();
                    $.ajax({
                        url: "api-token-verify/",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader ("token : token" );
                        },
                        type: 'GET',
                        success: function (data) {
                            alert(data)
                        },
                        error: function(){
                            alert("Cannot get data");
                        }
                    });
                });

                $("#tst").click(function(e) {
                    e.preventDefault();
                    $.ajax({
                        url: "apiview/",
                        type: 'GET',
                        success: function (data) {
                            
                        },
                        error: function(){
                            alert("Cannot get data");
                        }
                    });
                });*/

                /*$("#gt").click(function(e) {
                    e.preventDefault();
                    $.ajax({
                        type: "GET",
                        url: "GetAllTransactions/",
                        headers: {
                            "Authorization: JWT " + token
                        },
                        success: function(result) {
                            alert(result);
                        },
                        error: function(result) {
                            alert('ajax error');
                        }
                    });
                });*/
            </script>
</body>
